<footer class='devise-footer'>
  <div class='devise-footer-text-wrap'>
    <p class='devise-footer-text'>プライバシーポリシー</p>
    <p class='devise-footer-text'>FURIMA利用規約</p>
    <p class='devise-footer-text'>特定商取引に関する表記</p>
  </div>
  <%= image_tag "furima-logo-color.png", class:"devise-footer-logo"%>
</footer>